.Huge-Updates-title {
  margin-bottom: 0px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  /* width: 378px;
  height: 77px; */
  font-size: 64px;
  color: #027fca;
  
}
.Huge-Updates-subtitle {
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    /* width: 378px;
    height: 77px; */
    font-size: 44px;
    color: #027fca;
    
  }
