.co-impr-title {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-size: 55.84px;
  color: #027fca;
}
.co-impr-subtitle {
    /* font-family: "K2D", sans-serif; */
    font-weight: 400;
    font-size: 24.82px;
    color: #027fca;
  }
  